* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #203647;
    
  }

  .editor-wrapper {
    border: 1px solid white;
    margin-top: 10px;
    color: whitesmoke;
    width: 500px;
    min-width: 300px;
    margin-top: 45px;
    padding: 0;
  }

  .heading {
    font-size: 16px;
    color: whitesmoke;
   
  }

  #editor {
    min-height: 200px;
    border-radius: 0;
    display: flex;
    align-items: center;
    font-size: 16px;
  }

  .preview-wrapper {
    width: 700px;
    min-width: 450px;
    margin-top: 20px;
    border: 1px solid white;
    font-size: 16px;
    padding: 0;
    min-width: 300px;
    margin-bottom: 10px;
  }
  #preview{
    background-color: #EEFBFB;
    width: 100%;
    padding: 20px;
  }
  #preview img{
    width: 100%;
  }
  #preview ul, ol{
    padding-left: 20px;
  }
  
  #preview p{
    padding: 0;
  }
  pre{
    background-color: beige;
    padding: 20px;
  }
  
  